* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.wrapper {
    width: 100%;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

.content {
    height: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/******************* Nav bar styling *******************/
.outer-nav-container {
    display: flex;
    justify-content: space-between;
    background-color: steelblue;
    align-items: center;
    height: 75px;
}

.nav-heading-container {
    margin-left: 20px;
}

.nav-heading-container h2 {
    color: aliceblue;
}

.nav-links-container {
    display: flex;
    min-width: 30%;
    align-items: center;
}

.nav-links {
    text-decoration: none;
    color: aliceblue;
    margin-right: 40px;
    padding: 10px 20px;
    border-radius: 10px;
    transition: 0.5s;

}

.nav-links:hover {
    background-color: aliceblue;
    color: steelblue;
    transition: 0.5s;
    text-decoration: none;


}


#nav-profile-image {
    height: 50px;
    width: 50px;
}

/******************* Home Page Styling *******************/
.home-content-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.topics-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 950px;
}

.topic-container {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    margin: 10px 0;
    border-radius: 10px;
}


/******************* Form Styling *******************/
form {
    margin-top: 30px;
    width: 50%;
}

.input-container {
    display: flex;
    flex-direction: column;
}

.btn {
    margin-top: 10px;
}

/******************* User profile styling *******************/
.user-profile-heading {
    margin-top: 20px;
    padding: 10px;
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 200px;


}

.circular-profile-image {
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
}

.user-profile-image {
    margin-left: 25px;
    height: 100px;
    width: 100px;
}


/* Quiz Page */

.quiz-container {
    width: 80%;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/

}

.qa-container {
    margin: 10px 0;
    padding: 10px;
}

.question-text {
    font-size: 2rem;
}

.answer-choice-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;

}

.choice-container {
    margin-bottom: 5px;

}

.choice-text {
    background-color: aliceblue;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
}

.selected {
    background-color: green;
    color: #fff;
}

.quiz-btn-container {
    height: 100px;
}

.results-container {
    margin: 15px 0;
}

.answer {
    min-height: 50px;
    border-radius: 10px;
    padding: 10px 15px;
    margin-bottom: 10px;

}


.correct {
    background-color: #028A0F;
    border: 1px solid darkgreen;
     color: #fff;
}

.wrong {
    background-color: #FF7F7F;
    border: 1px solid red;
    color: #fff;
}

.no-answer {
    border: 1px solid orange;
}

.suggested-videos-container {
    display: flex;
    flex-direction: column;
    align-items: center;
     margin-top: 15px;
}

.suggested-videos{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 15px;
}
