* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.wrapper {
    width: 100%;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
}

.content {
    height: 100%;
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

/******************* Nav bar styling *******************/
.no-text-wrap {
    white-space: nowrap;
}


/******************* Home Page Styling *******************/
.home-content-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.topics-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    max-width: 950px;
}

.topic-container {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightblue;
    margin: 10px 0;
    border-radius: 10px;
}


/******************* Form Styling *******************/
form {
    margin-top: 30px;
    width: 50%;
}

.input-container {
    display: flex;
    flex-direction: column;
}

.btn {
    margin-top: 10px;

}

#submit-quiz-btn {
    margin-bottom: 50px;
}

/******************* User profile styling *******************/
#user-dashboard {
    display: flex;
    width: 100%;
}

.user-profile-heading {
    margin: 30px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;


}

.circular-profile-image {
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
}

.user-profile-image {
    margin-left: 25px;
    height: 100px;
    width: 100px;
}

.take-quiz-form {
    width: 150px;
}

#user-quiz-results-container {
    margin: 35px 25px 25px;
    text-align: center;
}

.quizzes-data-container {
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.quiz-data-container {
    width: 200px;
    height: 200px;
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: aliceblue;
    padding: 25px;
    margin-bottom: 15px;
}

.quiz-category-heading {
    margin-top: 15px;
}

.quiz-details-form {
    width: 100%;
    margin-top: 0;
    display: flex;
    justify-content: center;
}

/* Quiz Page */

.quiz-container {
    width: 80%;
    display: flex;
    flex-direction: column;
}

.qa-container {
    margin: 10px 0;
    padding: 10px;
}

.question-text {
    font-size: 2rem;
}

.answer-choice-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;

}

.choice-container {
    margin-bottom: 5px;

}

.choice-text {
    background-color: aliceblue;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
}

.selected {
    background-color: green;
    color: #fff;
}

.quiz-btn-container {
    height: 100px;
}

.results-container {
    margin: 15px 0;
}

.answer {
    min-height: 50px;
    border-radius: 10px;
    padding: 10px 15px;
    margin-bottom: 10px;

}


.correct {
    background-color: #028A0F;
    border: 1px solid darkgreen;
    color: #fff;
}

.wrong {
    background-color: #FF7F7F;
    border: 1px solid red;
    color: #fff;
}

.no-answer {
    border: 1px solid orange;
}

.suggested-videos-container {
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.suggested-videos {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin-top: 15px;
    flex-wrap: wrap;
}

.video {
    margin-bottom: 10px;
}

.video-img {
    width: 200px;
}
.video-title {
    text-align: center;
    margin-top: 10px;
    width: 200px;
}


@media only screen and (max-width: 600px) {
    .nav-heading-container h2 {
        font-size: 1rem;
    }

    .nav-links-container {
        min-width: 20%;
    }

    .nav-links {
        font-size: 1rem;
    }

    h1 {
        text-align: center;
    }

    #user-dashboard {
        justify-content: center;
    }

    .question-text {
        font-size: 1rem;
    }

    .answer-choice-container {

        grid-template-columns: 1fr;
    }


}

@media only screen and (max-width: 768px) {
    #user-dashboard {
        justify-content: center;
        flex-wrap: wrap;
    }

    #user-quiz-results-container {
        max-width: 500px;
    }
}

