*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

.container{
    width: 100%;
    height: 100vh;
    font-family: 'Open Sans', sans-serif;
}
.content {
    display: flex;
    justify-content: center;
}

.outer-nav-container{
    display: flex;
    justify-content: space-between;
    background-color: steelblue;
    align-items: center;
    height: 50px;
}
.nav-heading-container {
 margin-left: 20px;
}
.nav-links-container {
    display: flex;
    min-width: 40%;
    justify-content: space-evenly;
}

.nav-links{
    text-decoration: none;
    color: aliceblue;

}


/*User profile styling*/
.user-profile-heading {
    margin-top: 20px;
    padding: 10px;
    width: 80%;
    display: flex;
    justify-content: flex-end;
    height: 200px;
    background-color: dodgerblue; /*NEED TO CHANGE USING TO ADJUST LAYOUT*/

}

.user-profile-image {
    margin-left: 25px;
    height: 100px;
    width: 100px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
}