{% extends 'base.html' %} {% block title %}Home Page{% endblock %} {% block
content %}
    <h1>Home Page</h1>
    <div class="home-content-container">
        <div class="topics-container">
            <div class="topic-container"> <h3>Bash</h3> </div>
            <div class="topic-container"><h3>JavaScript</h3> </div>
            <div class="topic-container"><h3>HTML</h3> </div>
            <div class="topic-container"><h3>SQL</h3> </div>
            <div class="topic-container"><h3>PHP</h3> </div>
            <div class="topic-container"><h3>Kubernetes</h3> </div>
            <div class="topic-container"><h3>Docker</h3> </div>
            <div class="topic-container"><h3>Laravel</h3></div>
        </div>

    </div>

{% endblock %}
