{% extends 'base.html' %} {% block title %}Home Page{% endblock %} {% block
content %}
    <div class="quiz-container">
        {% for question in data %}
            <div class="qa-container">
                <div class="question-container">
                    <p class="question-text"> {{ question.question }} </p>
                </div>
                <div class="answer-choice-container">
                    {% for answer in question.answers %}
                        {% if  question.answers.get(answer) != None %}
                            <div class="choice-container">
                                <div id="{{ question.id }}-{{ answer }}"
                                     class="choice-text">{{ question.answers.get(answer) }}</div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="quiz-btn-container">
        <button id="submit-quiz-btn" class="btn btn-primary">Submit</button>
    </div>


{% endblock %}